# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Database files
*.sqlite3

# Local environment variables
.env

bin/
lib/
pyvenv.cfg
# Static files
staticfiles/
media/

# Byte-compiled / optimized files
*.pyc
*.pyo
*.pyd

# IDE and editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python virtual environment
venv/
env/
env.bak/
venv.bak/
.venv/
*.egg-info/
.Python
db.sqlite3

# Coverage reports
.coverage
.coverage.*
htmlcov/

# Django secret key
*.log

# Test data
*.test
