{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ title }} | {% trans "TODOAPP  | ADMIN " %}
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/custom_color.css" %}"/>
{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans "Table Suite" %}</h1>
{% endblock %}

{% block nav-global %}
    <!-- Language Switcher Form -->
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select name="language" onchange="this.form.submit()">
            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
            <option value="it" {% if LANGUAGE_CODE == 'it' %}selected{% endif %}>Italiano</option>
        </select>
    </form>
{% endblock %}
