{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
  <div>
      <h1><i class="fa fa-calendar"></i>{% trans "Calendar" %}</h1>
      <p>{% trans "Event Calendar" %}</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Calendar</a></li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">{% trans "Unavailabilities"%}</h4>
                    {% for event in events_month %}
                      <div class="fc-event">
                          <h3>{{ event.title }}</h3>
                          <p>{{event.id}}</p>
                          <p>From: {{ event.start_time }}</p>
                          <p>To: {{ event.end_time }}</p>
                      </div>
                    {% empty %}
                      <p>No Running Events Found</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>

            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Event</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">{% trans "Unavailabily"%}:</label>
                                    {{ form.title }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">{% trans "StartDate"%}:</label>
                                    {{ form.start_time }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">{% trans "EndDate"%}:</label>
                                    {{ form.end_time }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade show" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header bg-primary">
                          <h5 class="modal-title text-white" id="title_event_detail"></h5>
                          <button id="modalDetailClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form method="">
                          {% csrf_token %}
                          <div class="modal-body">
                              
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">Description:</label>
                                  <p id = "description_event_detail">

                                  </p>
                              </div>
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">Start:</label>
                                  <p id = "start_event_detail">
                              </div>
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">End:</label>
                                  <p id = "end_event_detail">
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button id="delete-event-button" data-event-id="" type="button" class="btn btn-danger">Delete</button>
                              <button id="add-to-next-week" data-event-id-week="" type="button" class="btn btn-success">Next Week</button>
                              <button id="add-to-next-day" data-event-id-day="" type="button" class="btn btn-primary">Next Day</button>

                          </div>
                      </form>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block extrascripts %}
<script src="{% static 'calender/main.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var modal = document.getElementById('eventModal');
        var modalClose1 = document.getElementById('modalClose1');  // Ensure modalClose1 exists

        modalClose1.addEventListener('click', function() {
            modal.style.display = 'none';  // Hides the modal
        });
    })
        document.addEventListener('DOMContentLoaded', function() {
        var modal = document.getElementById('eventModal');
        var modalClose2 = document.getElementById('modalClose2');  // Ensure modalClose2 exists

        modalClose2.addEventListener('click', function() {
            modal.style.display = 'none';  // Hides the modal
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();
        var month = today.getMonth() + 1;  // JavaScript months are zero-indexed
        var year = today.getFullYear();

        // Fetch user profile data
        fetch('http://ec2-54-147-198-89.compute-1.amazonaws.com:8000/bookings/user_profile/')
            .then(response => response.json())
            .then(data => {
                const firstProfile = data[0];
                const lang = localStorage.getItem('preferredLanguage')
                const userProfile = `${firstProfile.first_name}`;
                
                // Fetch table availability data for the current month and year
                fetch(`http://127.0.0.1:8000/bookings/table/check_month_availability/?month=${month}&year=${year}`)
                    .then(response => response.json())
                    .then(availabilityData => {
                        debugger
                        // Initialize calendar
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                            headerToolbar: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
                            },
                            initialDate: today,
                            navLinks: true,
                            selectable: true,
                            selectMirror: true,
  
                            // Selection handler to add new events by clicking a block
                            select: function(arg) {
                                var modal = document.getElementById('eventModal');
                                modal.style.display = 'block';
                                document.getElementById('id_start_time').value = converterDataParaDjangoFormat(arg.start);
                                document.getElementById('id_end_time').value = converterDataParaDjangoFormat(arg.end);
                                calendar.unselect();
                            },

                            // Display availability in each day block
                            dayCellContent: function(arg) {
                                // Format the date to match the keys in the availability data
                                const formattedDate = arg.date.toISOString().split('T')[0];

                                // Access reserved and available tables using the formatted date
                                const reservedTables = availabilityData.reserved_tables_by_day[formattedDate] || 0;
                                const availableTables = availabilityData.available_tables_by_day[formattedDate] || 0;
                                let reservedTableLabel = lang == 'it' ? 'Tavoli riservati' : 'Reserved Table'
                                // Calculate total tables (assuming total = reserved + available)
                                const totalTables = reservedTables + availableTables;

                                let availabilityInfo = `${reservedTableLabel}: ${reservedTables}`;

                                return {
                                    html: `
                                        <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                                            <div style="text-align: right;">${arg.dayNumberText}</div>
                                            <div style="text-align: right; margin-top: 10px; margin-right:10px">${availabilityInfo}</div>
                                        </div>
                                    `
                                };


                            },


                            eventClick: function(arg) {
                                var title = arg.event.title;
                                var start = formatDateTime(arg.event.start);
                                var end = formatDateTime(arg.event.end);
                                var id = arg.event.id;

                                var modal = document.getElementById('detailModal');
                                document.getElementById('title_event_detail').textContent = title;
                                document.getElementById('start_event_detail').textContent = start;
                                document.getElementById('end_event_detail').textContent = end;
                                document.getElementById('description_event_detail').textContent = arg.event.extendedProps.description || '';

                                modal.style.display = 'block';
  
                                document.getElementById('delete-event-button').setAttribute('data-event-id', id);
                                document.getElementById('add-to-next-week').setAttribute('data-event-id-week', id);
                                document.getElementById('add-to-next-day').setAttribute('data-event-id-day', id);
                            },

                            events: {{ events|safe }},
                            editable: true,
                            dayMaxEvents: true
                        });
                        calendar.setOption('locale',lang);
                        calendar.render();
                    })
                    .catch(error => {
                        console.error('Error fetching table availability:', error);
                    });

                // Close modals
                const closeBtns = document.querySelectorAll('.modal-close');
                closeBtns.forEach(btn => {
                    btn.addEventListener('click', function() {
                        document.getElementById('eventModal').style.display = 'none';
                        document.getElementById('detailModal').style.display = 'none';
                    });
                });

                // Delete event
                document.getElementById('delete-event-button').addEventListener('click', function() {
                    const eventId = this.getAttribute('data-event-id');
                    if (confirm('Are you sure you want to delete this event?')) {
                        $.ajax({
                            url: `/delete_event/${eventId}/`,
                            type: 'POST',
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                            },
                            success: function(response) {
                                alert(response.message);
                                window.location.reload();
                            },
                            error: function(xhr, status, error) {
                                alert('Error deleting event!');
                            }
                        });
                    }
                });

                // Utility functions
                function converterDataParaDjangoFormat(data) {
                    const dataJS = new Date(data);
                    const ano = dataJS.getFullYear();
                    const mes = (dataJS.getMonth() + 1).toString().padStart(2, '0');
                    const dia = dataJS.getDate().toString().padStart(2, '0');
                    const hora = dataJS.getHours().toString().padStart(2, '0');
                    const minuto = dataJS.getMinutes().toString().padStart(2, '0');
                    const segundo = dataJS.getSeconds().toString().padStart(2, '0');
                    return `${ano}-${mes}-${dia} ${hora}:${minuto}:${segundo}`;
                }

                function formatDateTime(dateTime) {
                    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZoneName: 'short' };
                    return new Date(dateTime).toLocaleDateString('pt-BR', options);
                }
            })
            .catch(error => {
                console.error('Error fetching user profiles:', error);
            });
    });
</script>


  
{% endblock extrascripts %}

